:root {
  --first-color: #b5c0d0;
  --second-color: #ccd3ca;
  --third-color: #f5e8dd;
  --fourth-color: #eed3d9;
  --main: #2c3040;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Courier New", Courier, monospace;
  color: var(--third-color);
  font-size: 1.6rem;

  background-color: var(--first-color);
}

button {
  background-color: transparent;
  border: 1px solid var(--third-color);

  color: var(--third-color);
  font-size: 1.6rem;

  cursor: pointer;
}

/* TAP SECTION */

/* tybe */
.tube {
  height: 40vh;
  width: 8vw;
  background: rgb(44, 48, 64);
  background: linear-gradient(
    90deg,
    var(--second-color) 0%,
    var(--third-color) 20%,
    var(--fourth-color) 50%,
    var(--third-color) 80%,
    var(--second-color) 100%
  );

  position: absolute;
  top: 0;
}

#left-tube {
  left: 28vw;
}

#right-tube {
  right: 28vw;
}

.commutator {
  width: 100%;
  height: 20px;
  background-color: var(--second-color);

  position: absolute;
  top: 50%;

  transform: rotate(90deg);
}

/* tap */
#tap {
  width: 44vw;
  height: 8vw;
  background: var(--second-color);
  background: linear-gradient(
    90deg,
    var(--second-color) 0%,
    var(--third-color) 50%,
    var(--second-color) 100%
  );
  border-radius: 0 0 10px 10px;

  position: absolute;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

#lever {
  width: 8vw;
  height: 40vh;

  position: absolute;
  left: calc(50% - 4vw);
  transform-origin: 50% 4vw;

  background: var(--second-color);
  border-radius: 24% 24% 50% 50%;
}

/* MENU SECTION */

#menu {
  border: 2.4px solid var(--third-color);

  border-radius: 8px;

  padding: 16px;
  width: 24vw;

  position: absolute;
  top: 8px;
  right: 8px;
}

#menu h1 {
  text-align: center;
}

.stat {
  list-style-type: none;
}

.stat li {
  margin-top: 16px;
}

#updateButton {
  width: 100%;
  margin-top: 16px;
  padding: 8px;
}
